# Meta Ads
META_ACCESS_TOKEN=your_meta_access_token_here
META_AD_ACCOUNT_ID=your_ad_account_id_here

# Google BigQuery
## Autenticação
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/service_account.json
BIGQUERY_PROJECT_ID=your_project_id_here

# Hubspot
TOKEN_ACESSO_HUBSPOT=your_hubspot_token_here
CLIENT_SECRET_HUBSPOT=your_hubspot_client_secret_here